---
---

/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    opacity: 0.5;
    background-color: lightblue;
    background-image: url('../img/一周年贺图.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Custom styles for your blog */
/* Add your own CSS rules here */
img.Firefly {
    /* 将transition放在这里，以便普通状态和hover状态之间切换时都平滑过渡 */
    transition: transform 0.8s, border 0.8s ease-in-out; /* 添加对边框的过渡效果 */
    border: solid 0 transparent; /* 初始状态下设置透明边框 */
}

img.Firefly:hover {
    transform: scale(1.5); /* 只在hover时改变transform */
    border: solid 1px #797979; /* 边框可以保留在hover状态中，因为它不需要过渡效果 */
}
